<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: red;
}
</style>
	<title>PAGUNSAN</title>
	<link rel ="stylesheet" type ="text/css" href="public/css/Web Dev.css">
	<link rel="shortcut icon" type="favicon" href="publicimg/logo.png">
</head>
<body>
<font face="23" size="Chiller" >
<style>
	body{
	background: url(public/img/spider.jpg);
  	background-repeat: no-repeat;
   	background-size: cover;
 	}
 
</style>
	<center>
	<!-- <center><h1>Spider Man Movies</h1> -->
	<img src=" public/img/sp.png" width="310px";>
	<h3><a href="app.html">Spider Man</a></h3>
	<h3><a href="sm2.html">Spider Man 2</a></h3>
	<h3><a href="sm3.html">Spider Man 3</a></h3>
	<h3><a href="asm.html">The Amazing Spider Man</a></h3>
	<h3><a href="asm2.html">The Amazing Spider Man 2</a></h3>
	</font>
	</center>

	<br>
	
</body>
</html>